.header{
    font-weight: 500;
    background-color: #208dfa;
    text-align: center;
}
.fr{
    float: right;
}
.label{
    font-weight: 500;
}
.form{
    background-color: #a4ccf3;
}

.min-height{
    height: 500px;
}